{{!-- not in use --}}

const questions = require("../../,../")

<div class="card mb-3" style="max-width: 540px;" data-id={{id}}>
    <div class="row g-0">
        <div class="col-md-4">
            <h1>LUTHER RESULTS</h1>
        </div>

         <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title cardh5">Hello {{emaildisplay}}</h5>
                <div class="mb-3 form-group">
                    <ul class="card-text list-unstyled">
                        <li>salary: {{salary}}</li>
                        <li>skill: {{skill}}</li>
                        <li>Hours Per Week: {{hours_per_week}}</li>
                        <li>Rank: {{ ranking}}</li>
                        <li>Percent Under Hood: {{percent}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>