{{!-- NOT IN USE currently, could be used for all results to display--}}

<div class="col-lg-12">
<h2 id ="hof"></i>YOUR RESULTS HERE!   <i class="fas fa-car"></i></h2>
<br>
<h3>Your email address is {{ email }} </h3>
<h3>your hours: {{hours}}</h3>
<h3>your skill: {{skill}}</h3>
<h3>your weekly earnings: ${{earnings}}</h3>
<h3>Hourly wage estimate: ${{ranking}}/hour </h3>
<h3>Fair salary? {{fairsalary}}</h3>
<h3>Benefits {{benefits}}</h3>
{{!-- helper: {{{get_array}}} --}}
{{!-- <h3>Additional work: {{addtlwork}}</h3> --}}
{{!-- <h3>Appreciated? {{employapp}}</h3>
<h3>Percent of Day under hood: {{percent}} {{test}}</h3>
<h3> Potential Hours Under Hood at LUTHER {{potential_hours}} </h3> --}}
{{!-- <h3>Difficult to stay current with other Responsibilities? {{staycurrent}} </h3>
<h3>Continuing education offered: {{contedu}} </h3>
<h3>Encouraged to further education for career adv? {{adveducation}} </h3>
<h3>No incentive for continuing education? {{noeduincentive}} </h3>
<h3>Technology tools provided {{techtoolsarray}}</h3>
<h3>Provided safe equiptment? {{safetools}}</h3>
<h3> Tools for Mechanics, not Technicians? {{mechvstechtools}} </h3>
<h3>My manager works with me on my schedule needs? {{schedneed}} </h3>
<h3> Opportunitiesto to advance my career? {{advopp}} </h3>
<h3> Equal productivity to coworkers? {{equalprod}} </h3>
<h3> My Company Respects Me {{respect}} </h3>
<h3> My Company Undervalues My Technical Skill Set {{undervalue}} </h3>
<h3>Treated like a mechanic, not technician? {{mechvstech}} </h3></h4>
<h3>My company believes in work/life balance? {{balance}} </h3> --}}
</div>