<div class="col-lg-12">
<h1 style="text-align: center;">YOUR RESULTS HERE!   <i class="fas fa-car"></i></h1>
<br>
<h2>Results for {{ email }} </h2>
<div class="results-table">
    <table>
  <tr>
    <th style="width:50%"></th>
    <th>Hours Per Week</th>
    <th>Percent Under Hood</th>
    <th>Weekly Salary</th>
    <th>Hours Under Hood</th>
    <th>$/hr Under Hood</th>
  </tr>
  <tr>
    <td>Current Position</td>
    <td> {{hours}}
        {{!-- <i class="fa fa-remove"></i> --}}
        </td>
    <td>{{{percent_frontend_display percent}}}
        {{!-- <i class="fa fa-check"></i> --}}
        </td>
         <td>${{salary}}
        {{!-- <i class="fa fa-check"></i> --}}
        </td>
        <td>
            {{{current_under_hood_calculator percent hours}}}
        </td>
        <td>
          ${{{ dollars_under_hood_calculator salary percent hours}}}
        </td>
  </tr>
</table>
</div>
<br>
{{!-- <h3> Current percent Under Hood = {{ percent }}</h3>

<h3> How many hours do you work in an average week? {{hours}}</h3> --}}
<h3>Potential hourly wage: {{{ estimated_dollars_per_hour ranking skill}}}</h3>
<h3>Your skill level: {{skill}} </h3>
{{!-- <h3>Earnings per week: ${{salary}}.00</h3> --}}
</div>

{{!-- {{work}} --}}
<div class="results-table">
    <table>
  <tr>
    <th style="width:50% font-size:larger"></th>
    <th>Current Company</th>
    <th>Luther</th>
  </tr>
  <tr>
    <td>Percent Under Hood</td>
    <td>{{{percent_frontend_display percent}}}
        {{!-- <i class="fa fa-check"></i> --}}
        </td>
         <td>90%
        {{!-- <i class="fa fa-remove"></i> --}}
        </td>
  </tr>
  <tr>
    <td>Earnings Per Week</td>
     <td> ${{salary}}.00
     {{!-- <i class="fas fa-times"></i> --}}
        </td>
     <td> ${{{potential_weekly_earnings_calculator (estimated_dollars_per_hour ranking skill) hours}}}.00
        {{!-- <i class="fa fa-check"></i> --}}
        </td>
  </tr>
  <tr>
    <td>Hours Under Hood</td>
     <td> {{{current_under_hood_calculator percent hours}}}
        {{!-- <i class="fa fa-check"></i> --}}
        </td>
     <td> {{{potential_under_hood_calculator hours}}}
     {{!-- <i class="fas fa-times"></i> --}}
        </td>
  </tr>
  <tr>
    <td>$/hr Under Hood</td>
    <td> ${{{ dollars_under_hood_calculator salary percent hours}}}
        </td>
    <td> ${{{ potential_dollars_under_hood_calculator (estimated_dollars_per_hour ranking skill) hours}}}
        {{!-- <i class="fa fa-remove"></i> --}}
        </td>
         </tr>
      <tr>
      {{!-- <td>
         $/hr Under Hood-v2
      </td>
      <td>
      ${{{ new_earn_per_week (potential_under_hood_calculator hours) (dollars_under_hood_calculator salary percent hours) }}} 
      </td> --}}
 </tr>
</table>
</div>

<br>
<div class = "col-lg-12">
    <h2>Yearly Salary</h2>
    <h3 style = "display: none">Current annual wage{{{yearly_wage_calculator salary}}}</h3>
    <h3> Potential annual wage with Luther ${{{potential_yearly_earnings_calculator (estimated_dollars_per_hour ranking skill) hours}}}</h3>
    <h3>Difference: ${{{difference_yearly_earnings_calculator (estimated_dollars_per_hour ranking skill) hours salary}}}</h3></h3>
</div>

<div class="results-table">
    <table>
  <tr>
    <th style="width:50% font-size:larger"></th>
    <th>Current Company</th>
    <th>Luther</th>
  </tr>
  <tr>
    <td>More Hours Under The Hood</td>
    <td>{{{ time_under_hood_check_current (potential_under_hood_calculator hours) (current_under_hood_calculator percent hours)}}}
        {{!-- <i class="fa fa-check"></i> --}}
        </td>
        <td> {{{ time_under_hood_check_luther (potential_under_hood_calculator hours) (current_under_hood_calculator percent hours)}}}
        {{!-- <i class="fa fa-remove"></i> --}}
        </td>
  </tr>
  </table>

</div>

<div class="benefits-table">
    <table>
  <tr>
    <th style="width:50% font-size:larger">Benefits</th>
    <th>Current Company</th>
    <th>Luther</th>
  </tr>
  <tr>
  <td>
  Medical
  </td>
        <td>

   {{{benefits_table_med benefits}}}
        </td>
        <td>
        <i class="fa fa-check"></i>
        </td>
  </tr>
  <tr>
  <td>
  Life Insurance
  </td>
        <td>
        {{{benefits_table_life benefits}}}
        </td>
        <td>
        <i class="fa fa-check"></i>
        </td>
  </tr>
   <tr>
  <td>
Short Term Disability  </td>
        <td>
       {{{benefits_table_std benefits}}}
        </td>
        <td>
        <i class="fa fa-check"></i>
        </td>
  </tr>
   <tr>
  <td>
  Long Term Disability
  </td>
        <td>
       {{{benefits_table_ltd benefits}}}
        </td>
        <td>
        <i class="fa fa-check"></i>
        </td>
  </tr>
   <tr>
  <td>
Dental  </td>
        <td>
        {{{benefits_table_dental benefits}}}
        </td>
  <td>
        <i class="fa fa-check"></i>
        </td>
  </tr>
   <tr>
  <td>
401k Match  </td>
        <td>
         {{{benefits_table_401k benefits}}}
        </td>
        <td>
        <i class="fa fa-check"></i>
        </td>
  </tr>
   <tr>
  <td>
  Tuition Reimbursement
  </td>
        <td>
       {{{benefits_table_tuition benefits}}}
        </td>
        <td>
        <i class="fa fa-check"></i>
        </td>
  </tr> 
  <tr>
  <td>
 Vacation Time
  </td>
        <td>
        {{{benefits_table_vacationtime benefits}}}
        </td>
        <td>
        <i class="fa fa-check"></i>
        </td>
  </tr>
  </table>
</div>
{{!-- {{#each answerData}}
{{>resultcard}}
{{/each}}       --}}

    {{!-- <script src="js/______.js"></script> --}}
